{% extends 'receipts-base.html' %}
{% load static %}
{% block content %}
<main>
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        <tbody>
            {% for item in account_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </thead>
    </table>
</main>
{% endblock content %}
